.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 4s linear; */
  }
}

.App-header {
  padding: 0 20%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.moods {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.icon {
  width: 10vw;
}

.App-link {
  color: #61dafb;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
